In [26]:
import pandas as pd

In [27]:
data = pd.read_csv("words.csv")

In [28]:
data

               Words
0                 ab
1                aba
2         aba güreşi
3              abacı
4           abacılık
...              ...
63835     zürriyetli
63836    zürriyetsiz
63837  zürriyetsizli
63838          züyuf
63839     züyuf akçe

[63840 rows x 1 columns]

In [29]:
data.dropna(inplace=True)

In [30]:
data.isnull().sum()

Words    0
dtype: int64

In [31]:
data

               Words
0                 ab
1                aba
2         aba güreşi
3              abacı
4           abacılık
...              ...
63835     zürriyetli
63836    zürriyetsiz
63837  zürriyetsizli
63838          züyuf
63839     züyuf akçe

[63839 rows x 1 columns]

ALL LOWER

In [32]:
def DfToLower(word):
    return word.lower()

In [33]:
data["Words"] = data["Words"].apply(DfToLower)

ONLY ONE WORD

In [34]:
one_word_df = data[~data['Words'].str.contains(" ", regex=False,na=False)]
one_word_df = one_word_df.reset_index(drop=True)

In [ ]:
one_word_df

               Words
0                 ab
1                aba
2              abacı
3           abacılık
4              abadi
...              ...
49796       zürriyet
49797     zürriyetli
49798    zürriyetsiz
49799  zürriyetsizli
49800          züyuf

[49801 rows x 1 columns]

In [38]:
one_word_df.to_csv("words_preprocessed.csv",index=False)